body{
    background-color:white;

}
   .group1{
    margin-left: 180px;

   }      
   .group2{
    text-align: center;
   }
   group3{
    position: absolute;
    right: 0%;
    max-width: 100%;
   }
   
   img{
    width: 200px;
    height: 200px;

   }
